<div class="soon">
    <div class="comingSoon">
        <img class="placeholder_image" src="~/images/coming_soon.png">
        <p>Coming soon...</p>
    </div>
</div>

<style>
    .comingSoon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .placeholder_image {
        width: 200px;
        height: 200px;
    }

    .soon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
    }
</style>