@{
    ViewData["Title"] = "Departments";
}
<div class="container-fluid px-5">
    <div class="row justify-content-between">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">🐝</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">HR</h5>
                    <p class="card-text text-center">The other departments plan stuff. They make it happen :)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">📢</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">PR</h5>
                    <p class="card-text text-center">These guys tell everybody when something is about happen :)</p>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">💸</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">FR</h5>
                    <p class="card-text text-center">DOLLA DOLLA 🤑</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">🌍</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">REPRE</h5>
                    <p class="card-text text-center">They make sure your rights are respected! :)</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">🎭</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">SOCIO</h5>
                    <p class="card-text text-center">They plan stuff! :O</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="bg-light text-center py-4">
                    <span style="font-size: 5rem;">🎨</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">IMG</h5>
                    <p class="card-text text-center">The fellas who make us look good. :D</p>
                </div>
            </div>
        </div>
    </div>
</div>